pkgbase = package5-base
	pkgdesc = A package that depends on package1 and echoes a message in each phase.
	pkgver = 2.0
	pkgrel = 1
	arch = any
	license = MIT
	depends = package3
	depends = package4

pkgname = package5
